.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, $black 0%, darken($black, 10%));
    // background: linear-gradient(to bottom, $black 0%, #{fade-out($black, .1)} 75%, #{fade-out($black, .2)} 100%);
    h3 {
        font-size: 0.6rem;
        line-height: 1.6rem;
        background-color: #fff;
        width: 200px;
    }
    p {
        // font-family: 'Varela Round';
        font-size: 1rem;
        line-height: 2.5rem;
        margin-bottom: 3rem;
    }
}